.start-create-button {
    grid-area: create-button;
}

.new-room-name-input {
    grid-area: name-input;
}

.new-room-wrapper {
    display: grid;
    grid-area: content;
    height: 150px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "pass-header"
        "name-input";
}