.start-create-button {
    grid-area: create-button;
}

.new-room-name-input {
    grid-area: name-input;
}

.new-room-submit {
    grid-area: name-submit;
}

.new-room-wrapper {
    display: grid;
    grid-area: content;
    height: 200px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas:
        "pass-header"
        "name-input"
        "name-submit"
        "error";
}