.start-create-button {
    grid-area: create-button;
}

.start-join-button {
    grid-area: join-button;
}

.start-wrapper {
    display: grid;
    grid-area: content;
    height: 250px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
        "pass-header"
        "create-button"
        "join-button";
}